<h1>New Holiday Bulk Discount</h1>

<%= render partial: "form", locals: { path: merchant_bulk_discounts_path(@merchant), method: :post, discount_value: 30, threshold_value: 2, name_value: "#{@holiday} Discount" } %>
